---
---

<footer>
  <div class="container">
    <div class="foot-grid">
      <div class="foot-brand">
        <h3 class="serif">Homia <em style="font-style: italic; color: var(--green);">Studio</em></h3>
        <p>
          Edición fotográfica para inmobiliarias, corredores y dueños que quieren publicar a
          otro nivel. Santiago, Chile · Trabajos a todo el país.
        </p>
      </div>
      <div class="foot-col">
        <h5>Servicios</h5>
        <ul>
          <li><a href="#servicios">Edición</a></li>
          <li><a href="#servicios">Carruseles Instagram</a></li>
          <li><a href="#servicios">Descripciones</a></li>
          <li><a href="#servicios">Mercado Libre</a></li>
        </ul>
      </div>
      <div class="foot-col">
        <h5>Estudio</h5>
        <ul>
          <li><a href="#trabajos">Trabajos</a></li>
          <li><a href="#cotizar">Cotizar</a></li>
        </ul>
      </div>
      <div class="foot-col">
        <h5>Contacto</h5>
        <ul>
          <li><a href="mailto:hola@homia.cl">hola@homia.cl</a></li>
          <li><a href="https://wa.me/56900000000">WhatsApp +56 9 0000 0000</a></li>
          <li><a href="https://instagram.com/homia">@homia</a></li>
          <li><a href="#">Santiago · Chile</a></li>
        </ul>
      </div>
    </div>
    <div class="foot-bottom">
      <div>© 2026 Homia Studio. Todos los derechos reservados.</div>
      <div class="legal">
        <a href="#">Términos</a>
        <a href="#">Privacidad</a>
      </div>
    </div>
  </div>
</footer>
